<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>YACReader.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>YACReader</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>YACReader</string>
	<key>CFBundleIdentifier</key>
	<string>com.yacreader.YACReader</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>rar</string>
				<string>cbz</string>
				<string>cbr</string>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Unknown</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.yacreader.yacreader.rar</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rar</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-rar-compressed</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.item</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.yacreader.yacreader.zip</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zip</string>
				</array>
				<key>public.mime-type</key>
				<string>application/zip</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.yacreader.yacreader.cbr</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cbr</string>
				</array>
				<key>public.mime-type</key>
				<string>application/x-rar-compressed</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.yacreader.yacreader.cbz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cbz</string>
				</array>
				<key>public.mime-type</key>
				<string>application/zip</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.yacreader.yacreader.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pdf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/pdf</string>
			</dict>
		</dict>
	</array>
	<key>NSRequiresAquaSystemAppearance</key>
	<true/>
</dict>
</plist>
