<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>YACReader.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>Created by Qt/QMake</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>YACReader</string>
	<key>CFBundleIdentifier</key>
	<string>com.yacreader.YACReader</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>YACReader Comic rar</string>
			<key>CFBundleTypeRole</key>
        	<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yacreader.yacreader.rar</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>YACReader Comic zip</string>
			<key>CFBundleTypeRole</key>
        	<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yacreader.yacreader.zip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>YACReader Comic cbr</string>
			<key>CFBundleTypeRole</key>
        	<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yacreader.yacreader.cbr</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>YACReader Comic cbz</string>
			<key>CFBundleTypeRole</key>
        	<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yacreader.yacreader.cbz</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>YACReader Comic pdf</string>
			<key>CFBundleTypeRole</key>
        	<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.yacreader.yacreader.rar</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>rar</string>
				<key>public.mime-type</key>
				<string>application/comic-rar</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.yacreader.yacreader.zip</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>zip</string>
				<key>public.mime-type</key>
				<string>application/comic-zip</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.yacreader.yacreader.cbr</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>cbr</string>
				<key>public.mime-type</key>
				<string>application/comic-cbr</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.yacreader.yacreader.cbz</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>cbz</string>
				<key>public.mime-type</key>
				<string>application/comic-cbz</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.yacreader.yacreader.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>pdf</string>
				<key>public.mime-type</key>
				<string>application/comic-pdf</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
