<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleIconFile</key>
	<string>YACReader.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleGetInfoString</key>
	<string>YACReader</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>YACReader</string>
	<key>CFBundleIdentifier</key>
	<string>com.yacreader.YACReader</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>rar</string>
				<string>cbz</string>
				<string>cbr</string>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Unknown</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>com.rarlab.rar-archive</string>
				<string>com.pkware.zip-archive</string>
				<string>cx.c3.cbz-archive</string>
				<string>cx.c3.cbr-archive</string>
				<string>com.simplecomic.cbz-archive</string>
				<string>com.macitbetter.cbz-archive</string>
				<string>public.cbz-archive</string>
				<string>com.simplecomic.cbr-archive</string>
				<string>com.macitbetter.cbr-archive</string>
				<string>public.cbr-archive</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>RAR archive</string>
			<key>UTTypeIdentifier</key>
			<string>com.rarlab.rar-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rar</string>
				</array>
				<key>public.mime-type</key>
                <array>
					<string>application/x-rar-compressed</string>
                </array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>com.pkware.zip-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zip</string>
				</array>
				<key>public.mime-type</key>
                <array>
					<string>application/zip</string>
                </array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.rarlab.rar-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>cx.c3.cbr-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cbr</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>YACReader Comic</string>
			<key>UTTypeIdentifier</key>
			<string>cx.c3.cbz-archive</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>cbz</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSRequiresAquaSystemAppearance</key>
	<true/>
</dict>
</plist>
