# YACReader
release64*
debug64*
* MacOSX-Intel*
dependencies/create-dmg
signapps.sh
lib7zip
libp7zip

# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.pch

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.build*
*.app*
*.pbxproj
*.mak
*.xcworkspace*
*xcshareddata*
*.swp

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
*.stash

*.plist
*.dmg

YACReaderLibrary/YACReaderLibrary\.xcodeproj/
.DS_Store
