[Desktop Entry]
Name=YACReader
GenericName=Yet Another Comic Reader
Comment=A comic reader with support for .cb*, .pdf and whole directories.
Exec=YACReader %f
Icon=YACReader
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Viewer;
MimeType=application/x-cbz;application/x-cbr;application/x-cbt;application/x-cb7;application/x-pdf;application/x-zip;application/x-rar;application/x-7z;inode/directory;
Keywords=comic;viewer;pdf;reader;
X-Desktop-File-Install-Version=0.22
