[Desktop Entry]
Name=YACReader
GenericName=Yet Another Comic Reader
Comment=Yet Another Comic Reader
Exec=YACReader %f
Icon=/usr/share/YACReader/icon.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Viewer;
MimeType=application/x-cbz;application/x-cbr;application/x-cbt;application/x-cb7;
X-Desktop-File-Install-Version=0.22
